<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Link to the CSS file -->
</head>
<body>
    <header>PURE PAGES</header>
    <main>
        <form>
            <label for="blog-title">Blog title:</label>
            <input type="text" id="blog-title" name="blog-title" /><br />

            <label for="blog-snippet">Blog snippet:</label>
            <input type="text" id="blog-snippet" name="blog-snippet" /><br />

            <label for="blog-body">Blog body:</label>
            <textarea id="blog-body" name="blog-body"></textarea><br />

            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
